@font-face {
  font-family: 'Sawarabi Mincho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sawarabi Mincho'), local('SawarabiMincho-Regular'), url(https://fonts.gstatic.com/s/sawarabimincho/v10/8QIRdiDaitzr7brc8ahpxt6GcIJTLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zAkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vAkA.ttf) format('truetype');
}
body {
  font: 300 17px 'Source Sans Pro', sans-serif;
  color: #f7f7f7;
  text-shadow: 1px 1px 2px #07080d;
  background-color: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
h1 {
  font: 50px 'Sawarabi Mincho', sans-serif;
  color: #d1dcf1;
  margin: 0;
  padding: 0;
}
h2 {
  font: 25px 'Sawarabi Mincho', sans-serif;
  color: #d1dcf1;
  margin: 0;
  padding: 0;
}
a {
  color: #aabcdb;
  text-decoration: underline;
  font-weight: 400;
}
a:focus {
  outline: none;
  color: #d1dcf1;
}
nav button {
  background-color: #07080d;
  font: 400 15px 'Source Sans Pro', sans-serif;
  color: #dbbfb3;
  padding: 5px;
  text-transform: uppercase;
  border: none;
  margin: 0 10px 0 0;
}
nav button:hover,
nav button:focus {
  outline: none;
  background-color: #2c2724;
  cursor: pointer;
}
nav a {
  color: #dbbfb3;
  text-decoration: none;
}
.social {
  margin-top: 30px;
  text-align: center;
}
.social p {
  font-size: 60%;
  margin: 5px;
}
.social a {
  margin-right: 10px;
  color: #aabcdb;
}
.social a:hover,
.social a:focus {
  outline: none;
  color: #d1dcf1;
}
